@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* rgb(191, 255, 0) */
/* rgb(232, 255, 163) */


html,
body {
    font-family: 'Pretendard', serif;
    scrollbar-width: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    box-sizing: border-box;
    /* min-height: 2000px; */
    /* height: calc(200vh + 1000px); */

    /* position: relative; */
    /* overflow: visible; */
    /* justify-content: center; */
    /* flex-direction: column; */

    background-color: black;

    .hide {
        display: none !important;
    }

    .overflow {
        overflow: hidden;
    }
}

nav {
    margin: 0;
    padding: 80px 60px;
    box-sizing: border-box;
    width: 100%;

    position: fixed;
    z-index: 3;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-family: 'Source Serif 4', serif;
        
        cursor: pointer;
        z-index: inherit;
        transition: color 0.3s ease, font-size 0.5s ease;
        
        .line_1, .line_2 {
            margin: 0;
            letter-spacing: 1px;
            line-height: 120%;
            color: rgb(191, 255, 0);

            transition: color 0.3s, transform 0.3s ease;
            display: block;
        }
        
        .line_1 {
            font-size: 16px;
            font-weight: 400;
        }
        
        .line_2 {
            font-size: 36px;
            font-weight: 700;
        }

        &:hover .line_1,
        &:hover .line_2 {
            color: white;
            transform: scale(1.1);
        }
    }


    .nav_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 50%, black 100%);
        z-index: 1;
    }

    #search_input {
        margin: 0;
        padding: 0 20px;
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        z-index: inherit;

        border: 0px solid rgba(0, 0, 0, 0);
        border-radius: 20px;

        color: white;
        background-color: rgba(255, 255, 255, 0.2);
    }

    #search_input::placeholder {
        font-size: 14px;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.6);
    }

}

#modal_container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    z-index: 4;
    
    background-color: rgba(0, 0, 0, 0.8);

    .modal_content {
        margin: 0;
        scrollbar-width: none;
        height: 900px;
        max-height: 90%;
        aspect-ratio: 2 / 3;
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        overflow: auto;
        position: absolute;

        background-position: center;
        background-size: contain;
        background-color: white;

        .modal_btn {
            width: 100%;
            padding: 40px;
            box-sizing: border-box;
            
            position: sticky;
            top: 0;
            z-index: 2;

            display: flex;
            justify-content: space-between;
            
            .like_modal, .close_modal {
                width: 28px;
                height: 28px;
                cursor: pointer;
                color: white;
                background: none;
                border: none;
                font-size: 22px;
            }

            .like_modal {
                background-image: url('./src/icon_heart_empty.png');
                background-size: cover;
            }
            
            .close_modal {
                background-image: url('./src/icon_cancel.png');
                background-size: cover;
            }
        }
        
        .modal_info {
            margin-top: 90%;
            padding: 60px 40px;
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;

            z-index: 2;
            text-align: center;
            
            color: white;

            .modal_date {
                margin-bottom: 16px;
                opacity: 0.6;
            }

            .modal_title {
                margin: 0;
                padding: 0;
                font-size: 72px;
                font-weight: 700;
                line-height: 100%;
            }

            .modal_overview {
                margin: 60px 0;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: 0.6px;
                opacity: 0.6;
            }

            .modal_vote {
                font-size: 26px;
                margin-bottom: 10px;
            }
            
            .modal_count {
                font-size: 14px;
                opacity: 0.6;
                font-weight: 300;
            }
        }

        .overlay_container {
            position: fixed;
            height: 200%;
            width: 100%;
            z-index: 1;
           
            .modal_overlay_top {
                box-sizing: border-box;
                position: absolute;
                top: 0;
                opacity: 0.6;;
                left: 0;
                width: 100%;
                height: 120px;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
            }

            .modal_overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 50%, black 100%);
            }
        }
    }

}

#container {
    margin: 0;
    padding: 0;

    width: 100vw;
    position: absolute;
    overflow: visible;

    display: flex;
    flex-direction: column;

    #hero {
        padding: 80px 60px;
        box-sizing: border-box;
        width: 100%;
        height: 840px;

        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        /* img 불러오고 주석처리 */
        background-image: url('https://film-grab.com/wp-content/uploads/photo-gallery/Barbie_11.jpg?bwg=1699879307');
        background-position: center;
        background-size: cover;

        color: white;

        .hero_overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 840px;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, black 100%);
            z-index: 1;
        }

        .hero_info {
            z-index: 2;

            .hero_d_title {
                width: 60%;
                margin-bottom: 40px;
                font-size: 92px;
                line-height: 120%;
                font-weight: 700;
            }

            .hero_d_rate,
            .hero_d_genre {
                font-size: 20px;
                line-height: 160%;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                gap: 10px;

                color: rgb(232, 255, 163);
            }

            .hero_d_story {
                margin-top: 20px;
                width: 40%;
                font-size: 16px;
                font-weight: 400;
                line-height: 180%;
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }

    #movie_list {
        margin: 0;
        padding: 0px;
        box-sizing: border-box;
        width: 100%;

        position: relative;
        overflow: visible;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        p {
            margin: 0px 0 20px 0;
            padding: 0;
            box-sizing: border-box;

            top: 74px;
            position: sticky;
            z-index: 3;
    
            font-size: 62px;
            font-weight: 700;
            text-align: center;
    
            color: white;
    
        }
        
        hr {
            margin: 0 50% 400px 0 ;
            padding: 0;
            box-sizing: border-box;
            height: 1px;
            width: 50%;
            
            top: 60px;
            position: sticky;
            border: none;
            z-index: 3;
    
            font-size: 62px;
            font-weight: 700;
            text-align: center;
    
            color: white;
            background-color: rgba(255, 255, 255, 0.4);
        }
        
        .alert {
            margin-top: 300px;
            text-align: center;
            color: white;
        }

        #movie_list_content {
            margin: 80px auto;
            padding: 0;
            width: 100%;
            box-sizing: border-box;

            position: relative;
            z-index: 1;

            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
            gap: 80px 40px;
            justify-content: center;
            justify-items: start;


            .card {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                width: 400px;
                height: 200px;
                padding: 20px;
                overflow: hidden;

                z-index: 2;
                position: relative;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                color: white;
                border-radius: 0;
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
                transition: border-radius 0.5s ease, box-shadow 0.5s ease, transform 0.5s ease;

                background-size: cover;
                background-position: center;

                .card_overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;

                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0.7) 50%, rgb(0, 0, 0) 100%);
                }

                p {
                    margin: 0;
                    padding: 0;
                    margin-bottom: 12px;
                    font-size: 20px;

                    color: rgb(191, 255, 0);
                    z-index: inherit;
                    text-align: left;
                }

                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 26px;
                    font-weight: 700;
                    letter-spacing: 0.5px;

                    z-index: inherit;
                }
            }

            .card:hover {
                border-radius: 20px;
                box-shadow: 0 0 30px rgba(191, 255, 0, 0.4);
                cursor: pointer;
                transform: scale(1.1);
                z-index: 2;
            }
        }

        .more_btn {
            width: 70px;
            height: 100px;
            margin-top: 80px;
            color: white;
            text-align: center;

            opacity: 0.6;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            transition: opacity 0.5s ease, font-size 0.5s ease, width 0.5s ease, height 0.5s ease;

            &:hover {
                cursor: pointer;
                opacity: 1;
                transition: opacity 0.5s ease, font-size 0.5s ease, width 0.5s ease, height 0.5s ease;


                div {
                    font-size: 26px;
                }

                img {
                    width: 50px;
                    height: 40px;
                }
            }

            div {
                font-size: 20px;
                font-weight: 400;

            }

            img {
                margin-top: 12px;
                width: 40px;
                height: 30px;
                
            }
        }
    }

    footer {
        margin: 160px 0 120px 0;
        /* width: 100%; */
        box-sizing: border-box;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .logo {
            font-family: 'Source Serif 4', serif;
            
            cursor: pointer;
            z-index: inherit;
            transition: color 0.3s ease, font-size 0.5s ease;
            
            .line_1, .line_2 {
                margin: 0;
                letter-spacing: 1px;
                line-height: 120%;
                color: white;

                transition: color 0.3s, transform 0.3s ease;
                display: block;
            }
            
            .line_1 {
                font-size: 16px;
                font-weight: 400;
            }
            
            .line_2 {
                font-size: 36px;
                font-weight: 700;
            }
    
            &:hover .line_1,
            &:hover .line_2 {
                color: rgb(191, 255, 0);
                transform: scale(1.1);
            }
        }

        hr {
            margin: 160px;
            height: 1px;
            width: 94%;
            border: none;
            background-color: rgba(255, 255, 255, 0.4);
        }

        #links {
            margin: 60px 0 30px 0;
            display: flex;
            justify-content: center;

            gap: 14px;

            links:hover {
                cursor: pointer;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;

            }
        }

        p {
            color: white;

            b {
                color: rgb(191, 255, 0);
            }
        }
    }
}